.home {
  display: flex;
  /* justify-content: space-between; */
}
.timeline_navbar {
  width: 243px;
  height: -moz-fit-content;
  height: fit-content;
  /* background-color: gray; */
  position: fixed;
}
.profile_nav_container {
  width: 70%;
  height: 50vh;
  /* border: 2px solid gainsboro; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* left: 25px; */
  /* position: relative; */
  /* left: 194px; */
  align-items: flex-start;
  margin-left: 20%;
}

.nav_link {
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.nav_link:hover {
  cursor: pointer;
  background-color: #f6c231;
  color: white;
  border-radius: 10px;
}

.nav_item {
  display: flex;
  flex-direction: row;
}
.nav_item_icon {
  padding-top: 6px;
}
.nav_item_title {
  font-size: larger;
  padding-left: 10px;
}
.home .heading {
  /* border-bottom: 1px solid gainsboro; */
}
.user_timeline {
  display: flex;
  justify-content: flex-end;
}

/* middle Container */
.middle_container {
  width: 55%;
  height: max-content;
  border: 2px solid gainsboro;
  padding: 10px;
}
.post_content_container {
  position: relative;
  left: 7px;
  border: none;
}
.post_content_container textarea {
  border-top: 1px solid gainsboro;
  border-left: 0;
  border-right: 0;
  /* border-color: #f6c231; */
  outline: none;
  margin-top: 5px;
  border-bottom: 1px solid gainsboro;
}
.content_post_btn {
  display: flex;
  margin-right: 13px;
  justify-content: flex-end;
}
.content_post_btn button {
  background: none;
  border: none;
  width: 65px;
  height: 35px;
  color: white;
  border: 1px solid #f6c231;
  background-color: #f6c231;
  border-radius: 20px;
  margin-top: 5px;
  font-size: large;
}
.content_post_btn :hover {
  cursor: pointer;
}

.post_item {
  border: 1px solid gainsboro;
  margin-top: 10px;
}

.item_header {
  display: flex;
  padding: 5px;
}
.item_user {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item_content {
  width: 85%;
  padding-left: 5px;
}
#user_dp {
  height: 40px;
}

.item_headline h3 {
  margin: 0;
}
.item_content_media {
  max-width: 100%;
  max-width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.item_content_media img {
  max-height: 100%;
  max-width: 100%;
  height: 600px;
}
.item_btns {
  display: flex;
  margin-top: 5px;
}

.item_btns button {
  background: none;
  border: none;
  padding: none;
}
.item_btns :hover {
  cursor: pointer;
}

.exprssion_btn {
  display: flex;
  margin-left: 10px;
  /* background-color: blue; */
}
.exprssion_btn .count {
  display: flex;
  align-items: center;
}
.exprssion_btn span {
  margin: 0;
}

.right_group_contaier {
  width: 25%;
  height: 50vh;
  border: 2px solid gainsboro;
  background-color: blanchedalmond;
}
