body {
  margin: 0;
  box-sizing: border-box;
}
.login {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#f6c231, #8acbffb5);
}
.login-container {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 9px rgb(0 8 0);
}
.input-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
