.navbar {
  top: 0;
  position: fixed;
  width: 98%;
  height: 40px;
  display: flex;
  background: #4547542e;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
.logo_name_container {
  display: flex;
  flex-direction: row;
}
.logo_container {
  width: 55px;
  height: 54px;
}
.logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#web_name {
  color: #444754;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 25px;
}
.search-container {
  right: 50px;
  width: 205%;

  flex-grow: 0.5;
  position: relative;
  display: flex;
}
.search-container input {
  background: #fff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding-left: 31px;
  box-sizing: border-box;
  flex-grow: 1;
}
input.search-query {
  background-color: #fff;
  color: black;
}
.search-container input:focus {
  outline: none;
}
.search-icon {
  height: 20px;
  position: absolute;
  top: 10px;
  left: 7px;
}
#user-dp {
  height: 40px;
  border-radius: 50px;
}
.user {
  display: flex;
  align-items: center;
}
span {
  margin-left: 10px;
}
.right-nav {
  display: flex;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
.nav-links ul {
  display: flex;
  list-style-type: none;
}
#link_container_id {
  width: 60px;
  height: 26px;
  padding: 2px;
  /* color: white; */
  text-align: center;
  margin-right: 10px;
  text-decoration: none;
}
#link_container_id a {
  color: white;
  text-decoration: none;
}
#link_container_id a:hover {
  font-variant-caps: unicase;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    height: fit-content;
    display: flex;
    background: #86afcb;
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  .search-container {
    right: 65px;
    width: 160%;
    flex-grow: 0.5;
    position: relative;
    display: flex;
  }
}
