.address_searchbar {
  width: 40vw;
  display: flex;
  padding-left: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  justify-content: space-between;
  margin-left: 15px;
}

.address_searchbar input {
  outline: none;
  padding: 5px;
  background: white;
  border: none;
  font-size: 13px;
  border: 2px solid #838daa;
  border-radius: 5px;
  color: #7c8990;
  width: 33vw;
}
#location_para_id {
  padding: 5px 0;
}
