body {
  margin: 0;
  box-sizing: border-box;
}
.signup_container {
  margin-top: 125px;
}
#signup_form {
  height: 68vh;
}
.Signup {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#f6c231, #8acbffb5);
}
.signup-container {
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 9px rgb(0 8 0);
}

.input-container p {
  margin: 0;
}
