.timeline {
  display: flex;
}

.timeline_navbar {
  width: 243px;
  /* height: -moz-fit-content; */
  height: fit-content;
  /* background-color: gray; */
  position: fixed;
}
.profile_nav_container {
  /* width: 70%; */
  height: 50vh;
  /* border: 2px solid gainsboro; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* left: 25px; */
  /* position: relative; */
  /* left: 194px; */
  align-items: flex-start;
  margin-left: 20%;
}

.nav_link {
  font-size: larger;
  outline: none;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.nav_link:hover {
  cursor: pointer;
  background-color: #f6c231;
  color: white;
  border-radius: 10px;
}

.nav_item {
  display: flex;
  flex-direction: row;
}
.nav_item_icon {
  padding-top: 6px;
}
.nav_item_title {
  font-size: larger;
  padding-left: 10px;
}
.home .heading {
  /* border-bottom: 1px solid gainsboro; */
}
.user_timeline {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

/* middle Container */
.middle_container {
  width: 55%;
  height: max-content;
  border: 2px solid gainsboro;
  padding: 10px;
}

.post_content_container {
  width: 100%;
}
.content_textarea {
  width: 100%;
}
.content_textarea textarea {
  width: 99%;
  height: 65px;
  border: none;
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
  outline: none;
  padding-left: 10px;
  margin-top: 5px;
}
.content_textarea input {
  width: 99%;
  height: 65px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.content_post_btn {
  display: flex;
  margin-right: 13px;
  justify-content: flex-end;
}
.content_post_btn button {
  background: none;
  border: none;
  width: 65px;
  height: 35px;
  color: white;
  border: 1px solid #f6c231;
  background-color: #f6c231;
  border-radius: 20px;
  margin-top: 5px;
  font-size: large;
}
.content_post_btn :hover {
  cursor: pointer;
}

.post_item {
  border: 1px solid gainsboro;
  margin-top: 10px;
}

.item_header {
  display: flex;
  padding: 5px;
}
.item_user {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item_content {
  width: 85%;
  padding-left: 5px;
}
#user_dp {
  height: 40px;
}

.item_headline h3 {
  margin: 0;
}
.item_content_media {
  max-width: 100%;
  max-width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.item_content_media img {
  max-height: 100%;
  max-width: 100%;
  height: 600px;
}
.item_btns {
  display: flex;
  margin-top: 5px;
}

.item_btns button {
  background: none;
  border: none;
  padding: none;
}
.item_btns :hover {
  cursor: pointer;
}

.exprssion_btn {
  display: flex;
  margin-left: 10px;
  /* background-color: blue; */
}
.exprssion_btn .count {
  display: flex;
  align-items: center;
}
.exprssion_btn span {
  margin: 0;
}

.right_group_container {
  width: 25%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  /* background-color: blanchedalmond; */
}
.group_container_lists {
  /* border: 1px solid black; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: flex-start;
  /* padding-top: 10px; */
  /* padding-right: 10px; */
}
.group_container_lists h3 {
  margin-left: 30px;

  /* border-bottom: 1px solid gainsboro; */
}
.group_container_list_items {
  /* border: 1px solid black; */
  display: flex;
  /* padding-top: 10px; */
  /* margin-top: 5px; */
  margin-left: 30px;
  /* align-items: flex-start; */
}
.group_container_list_items:hover {
  cursor: pointer;
  background-color: #f6c231;
  color: white;
  border-radius: 10px;
}
@media only screen and (max-width: 1200px) {
  .timeline_navbar {
    width: 10%;
  }
}
