body {
  margin: 0;
  box-sizing: border-box;
}
.timeline {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 18%;
  margin-bottom: 10px;
}

.timeline_navbar {
  width: 243px;
  height: fit-content;
  position: fixed;
}
.profile_nav_container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 20%;
}

.nav_link {
  font-size: larger;
  outline: none;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.nav_link:hover {
  cursor: pointer;
  background-color: #f6c231;
  color: white;
  border-radius: 10px;
}

.nav_item {
  display: flex;
  flex-direction: row;
}
.nav_item_icon {
  padding-top: 6px;
}
.nav_item_title {
  font-size: larger;
  padding-left: 10px;
}

.user_timeline {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

/* middle Container */
.middle_container {
  width: 55%;
  height: max-content;
  border: 2px solid gainsboro;
  padding: 10px;
}

.post_content_container {
  width: 100%;
}
.content_textarea {
  width: 100%;
}
.content_textarea textarea {
  width: 99%;
  height: 65px;
  border: none;
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
  outline: none;
  padding-left: 10px;
  margin-top: 5px;
}
.content_textarea input {
  width: 99%;
  height: 65px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.content_post_btn {
  display: flex;
  margin-right: 13px;
  justify-content: flex-end;
}
.content_post_btn button {
  background: none;
  border: none;
  width: 65px;
  height: 35px;
  color: white;
  border: 1px solid #f6c231;
  background-color: #f6c231;
  border-radius: 20px;
  margin-top: 5px;
  font-size: large;
}
.content_post_btn :hover {
  cursor: pointer;
}
.post_lists {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post_item {
  border: 1px solid gainsboro;
  margin-top: 10px;
}

.item_header {
  display: flex;
  padding: 5px;
}
.item_user {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  width: 100%;
}
#user_dp {
  height: 40px;
}

.item_headline h3 {
  margin: 0;
}
.item_content_subheadlines {
  display: inline-flex;
  padding: 5px;
}
.user_profile {
  width: 50px;
  height: 50px;
  padding-right: 5px;
}
.user_details {
  text-transform: capitalize;
  padding-left: 5px;
}
.user_name {
  font-size: 25px;
  line-height: 30px;
}
.user_profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}
.item_content {
  display: flex;
  width: 100%;
  border-top: 1px solid gainsboro;
  height: fit-content;
}
.item_content_media {
  width: 50%;
  height: fit-content;
  padding: 5px;
}
.item_content_media img {
  width: 100%;
  height: 100%;
}
.item_description {
  font-size: 1.2em;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.4em;
  width: 50%;
  text-align: justify;
  padding: 5px;
}
.item_btns {
  border-top: 1px solid gainsboro;
  display: flex;
  margin-top: 5px;
}

.item_btns button {
  background: none;
  border: none;
  padding: none;
}
.item_btns :hover {
  cursor: pointer;
}

.exprssion_btn {
  display: flex;
  margin-left: 10px;
}
.exprssion_btn .count {
  display: flex;
  align-items: center;
}
.exprssion_btn span {
  margin: 0;
}

.right_group_container {
  width: 25%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}
.group_container_lists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.group_container_lists h3 {
  margin-left: 30px;
}
.group_container_list_items {
  display: flex;
  margin-left: 30px;
}
.group_container_list_items:hover {
  cursor: pointer;
  background-color: #f6c231;
  color: white;
  border-radius: 10px;
}
@media only screen and (max-width: 1200px) {
  .timeline_navbar {
    width: 10%;
  }
  .item_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid gainsboro;
    height: fit-content;
  }
  .item_content_media {
    width: 98%;
    height: fit-content;
    padding: 5px;
  }
  .item_description {
    font-size: 1.2em;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.4em;
    width: 98%;
    text-align: justify;
    padding: 5px;
  }
}
